---
import Layout from "../layouts/Layout.astro";

const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort((a, b) => {
  return (
    new Date(b.frontmatter.date).valueOf() -
    new Date(a.frontmatter.date).valueOf()
  );
});

const { thumbnail } = Astro.props;
---

<Layout title="Welcome to My Blog.">
  <ul class="grid grid-cols-5 gap-4 mt-10">
    {
      posts.map((post) => {
        const { thumbnail, title, description } = post.frontmatter;
        return (
          <li class="card shadow-md">
            <div class="w-full">
              <img src={thumbnail} alt="" class="w-full" />
            </div>
            <div class="p-3">
              <a class="text-xl font-bold" href={post.url}>
                {title}
              </a>
              <p>{description}</p>
            </div>
          </li>
        );
      })
    }
  </ul>
</Layout>

<style></style>
