---
import Layout from "../layouts/Layout.astro";

const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort((a, b) => {
  return (
    new Date(b.frontmatter.date).valueOf() -
    new Date(a.frontmatter.date).valueOf()
  );
});
---

<Layout title="Welcome to My Blog.">
  <ul class="grid grid-cols-5 gap-4">
    {
      posts.map((post) => {
        const { thumbnail, title, description, date } = post.frontmatter;
        return (
          <li class="card shadow-md">
            <div class="w-full">
              <img src={`../${thumbnail}`} alt="" class="w-full" />
            </div>
            <div class="p-3">
              <a class="text-xl font-bold" href={post.url}>
                {title}
              </a>
              <span class="block font-thin italic text-sm mb-2">
                {new Date(date).toLocaleString()}
              </span>
              <p class="text-sm text-gray-700">{description}</p>
            </div>
          </li>
        );
      })
    }
  </ul>
</Layout>
