---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <div class="container mx-auto flex justify-between py-3 items-center">
    <div class="logo">
      <a href="/" class="text-3xl font-bold">NB</a>
    </div>
    <nav>
      <ul class="flex">
        <HeaderLink href="/" class="ml-3">All</HeaderLink>
        <HeaderLink href="/rust" class="ml-3">Rust</HeaderLink>
        <HeaderLink href="/frontend" class="ml-3">Frontend</HeaderLink>
        <HeaderLink href="/backend" class="ml-3">Backend</HeaderLink>
      </ul>
    </nav>
  </div>
</header>

<style>
  header {
    background-color: rgb(0, 187, 0);
    color: white;
  }
</style>
