---
import HeaderLink from "./HeaderLink.astro";
---

<header class="bg-green-400">
  <div class="container mx-auto flex justify-between py-3">
    <div class="logo">
      <a href="/" class="text-3xl font-bold">MyBlog</a>
    </div>
    <nav>
      <ul class="flex">
        <HeaderLink href="/" class="ml-3">Blogs</HeaderLink>
        <HeaderLink href="/about" class="ml-3">About</HeaderLink>
      </ul>
    </nav>
  </div>
</header>
